body {
    margin: 0;
    padding: 0;
    background: url("pato.jpg") no-repeat center center;
    background-size: cover;   /* ocupa toda la pantalla */
    background-attachment: fixed; /* hace que no se mueva al hacer scroll */
}